@import './grid.css';
@import '../../../node_modules/semantic-ui/dist/semantic.min.css';

.ui.pagination.menu {
    width: 100%;
}

.ui.pagination.menu ul {
    width: 100%;
    list-style: none;
    text-align: center; 
}

.ui.pagination.menu ul li {
    display: inline-block;
}